@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  margin: 0 auto;
}

.modal-wrapper {
  position: fixed;
  display: flex;
  left: 0;
  right: 0%;
  bottom: 0;
  top: 0;
  justify-content: center;
  align-items: center;
  background-color: rgba(189, 189, 189, 0.8);
  z-index: 10;
}

.modal-container {
  position: absolute;
  max-width: 50rem;
  max-height: 50rem;

  padding: 2rem 3rem;
  border-radius: 0.5rem;
  background-color: white;
}

.pagination {
  display: inline-block;
}

.page-link {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.active {
  background-color: #f38607;
  color: white;
  border-radius: 5px;
}

.page-link:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}

.figcaption {
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}

.active-filter {
  background: #f0f0f5;
  font-weight: 500;
  border: 0.1rem black solid;
  user-select: none;
}

.filters-wrapper {
  align-content: flex-start;
}

.dropdown {
  display: inline-block;
}
.dropdown-toggle {
  border: 1px solid #ccc;
  padding: 5px 10px;
  cursor: pointer;
}
.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdown-menu li {
  padding: 12px 16px;
  list-style-type: none;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.figcaption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px;
  width: 100%;
  height: 20%;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  opacity: 0;
  border-radius: 0 0 10px 10px;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.5s;
}
